Projeto em Python com análise de dados.

 1 - Importando bibliotecas

In [ ]:
import os
import pandas as pd

lista_arquivos = os.listdir("/content/drive/MyDrive/ProjetoPyhton/Vendas")
print(lista_arquivos)
display(lista_arquivos)

['Devolucoes - Goiás.csv', 'Devolucoes - São Paulo.csv', 'Vendas - Salvador.csv', 'Vendas - Fortaleza.csv', 'Vendas - Goiás.csv', 'Vendas - Recife.csv', 'Devolucoes - Salvador.csv', 'Devolucoes - Fortaleza.csv', 'Vendas - Curitiba.csv', 'Vendas - Belo Horizonte.csv', 'Vendas - Porto Alegre.csv', 'Devolucoes - Recife.csv', 'Vendas - Rio de Janeiro.csv', 'Devolucoes - Rio de Janeiro.csv', 'Devolucoes - Belo Horizonte.csv', 'Devolucoes - Curitiba.csv', 'Devolucoes - Porto Alegre.csv', 'Vendas - São Paulo.csv']

['Devolucoes - Goiás.csv',
 'Devolucoes - São Paulo.csv',
 'Vendas - Salvador.csv',
 'Vendas - Fortaleza.csv',
 'Vendas - Goiás.csv',
 'Vendas - Recife.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - Fortaleza.csv',
 'Vendas - Curitiba.csv',
 'Vendas - Belo Horizonte.csv',
 'Vendas - Porto Alegre.csv',
 'Devolucoes - Recife.csv',
 'Vendas - Rio de Janeiro.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Devolucoes - Curitiba.csv',
 'Devolucoes - Porto Alegre.csv',
 'Vendas - São Paulo.csv']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

2 - Importar base de dados

In [ ]:
tabela_total = pd.DataFrame() #tabelavazia

for arquivo in lista_arquivos:
  #if not "Devolucoes" in arquivo: outra forma de pesquisar
  #if "Vendas" in arquivo.lower(): tranforma todos em letra minuscula
  if "Vendas" in arquivo: 
    tabela = pd.read_csv(f"/content/drive/MyDrive/ProjetoPyhton/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela) #append = adicionando informação na tabela

display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,40,HL1148,Câmera,2,Gabriel,Almeida,11/16/2018,Salvador,2100,NaN
1,42,HL2714,Tablet,5,Rodrigo,Alves,2/27/2018,Salvador,1600,NaN
2,51,HL1918,iPhone,4,Ulisses,Arruda,5/5/2018,Salvador,5300,NaN
3,70,HL9962,Android,3,Raissa,Negrelli,3/10/2018,Salvador,3400,NaN
4,94,HL1918,iPhone,2,Breno,Caputo,3/30/2018,Salvador,5300,NaN
...,...,...,...,...,...,...,...,...,...,...
2221,9981,HL7348,SmartWatch,4,João,Junior,4/14/2018,São Paulo,1400,NaN
2222,9984,HL1918,iPhone,4,Itai,Puntel,5/2/2018,São Paulo,5300,NaN
2223,9985,HL1918,iPhone,1,Guilherme,Vianna,3/18/2018,São Paulo,5300,NaN
2224,9991,HL7348,SmartWatch,5,Antônio,Soares,11/21/2018,São Paulo,1400,NaN
2225,9996,HL4379,Televisão,5,Caio,Moraes,1/22/2018,São Paulo,2500,NaN

3 - Calculando os indicadores (agrupando grupo de itens e somando os valores)

In [ ]:
tabela_produtos = tabela_total.groupby('Produto'). sum() #tabela de produtos agrupando os itens pelo group by 
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

4 - Produto que mais faturou

In [ ]:
tabela_total["Faturamento"] = tabela_total["Quantidade Vendida"] * tabela_total ["Preco Unitario"]
tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento [["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

5 - Loja que mais faturou

In [ ]:
tabela_lojas = tabela_total.groupby("Loja").sum()
tabela_lojas = tabela_lojas[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_lojas)

                Faturamento
Loja
São Paulo          22098300
Rio de Janeiro     14867800
Fortaleza          14087900
Salvador           13111300
Goiás               7441800
Recife              7303000
Curitiba            7060500
Porto Alegre        6868600
Belo Horizonte      6480300

6 - Gráfico

In [ ]:
import plotly.express as px #biblioteca que cria os gráficos

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y="Faturamento")
grafico.show()